/* Replace Jellyfin logos with ROVR logo */

.adminDrawerLogo img {
    content: url(https://cdn.jsdelivr.net/gh/rabblrouser/rovr/assets/img/rovr_logo.png) !important;
}

imgLogoIcon {
    content: url(https://cdn.jsdelivr.net/gh/rabblrouser/rovr/assets/img/rovr_logo.png) !important;
}

.pageTitleWithLogo {
    background-image: url(https://cdn.jsdelivr.net/gh/rabblrouser/rovr/assets/img/rovr_logo.png) !important;
}
